[submodule "u-boot-xlnx"]
	path = u-boot-xlnx
	url = https://github.com/analogdevicesinc/u-boot-xlnx.git
	branch = pluto
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/analogdevicesinc/buildroot.git
[submodule "pluto_linux"]
	path = linux
	url = git@github.com:30N6/pluto_linux.git
[submodule "pluto_hdl"]
	path = hdl
	url = git@github.com:30N6/pluto_hdl.git

